<div class="bg-background">
  <div class="w-full flex flex-col justify-center items-center py-8">
    <div class="w-full lg:max-w-7xl">
      <div class="flex justify-between">
        <!-- Sidebar -->
        <div
          class="w-1/4 p-6 lg:block"
          [ngClass]="{ hidden: !isSidebarOpen, block: isSidebarOpen }"
        >
          <div class="flex items-center mb-4">
            <img
              [src]="user.avatarUrl ?? '/img_avatar_default.jpg'"
              alt="Profile"
              class="w-10 h-10 rounded-full object-cover object-center"
            />
            <div class="ml-4">
              <p class="font-normal text-sm text-white">Account of</p>
              <p class="font-bold text-base text-white">{{ user.name }}</p>
            </div>
          </div>
          <nav>
            <ul>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 0"
                (click)="onSelectMenuItem(0)"
              >
                <a class="flex items-center">
                  <i class="fas fa-user w-8 pr-4 text-center"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 1"
                (click)="onSelectMenuItem(1)"
              >
                <a class="flex items-center">
                  <i class="fas fa-lock w-8 pr-4 text-center"></i>
                  <span>Change Password</span>
                </a>
              </li>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 2"
                (click)="onSelectMenuItem(2)"
              >
                <a class="flex items-center">
                  <i class="fa-solid fa-ticket w-8 pr-4 text-center"></i>
                  <span>My Orders</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Sidebar Toggle Button for Small Screens -->
        <button
          class="lg:hidden p-4 text-white rounded-md"
          (click)="toggleSidebar()"
        >
          <i
            class="fas"
            [ngClass]="isSidebarOpen ? 'fa-solid fa-angles-left' : 'fa-bars'"
          ></i>
        </button>

        <!-- Main Content -->
        <div class="w-full lg:w-3/4 p-7 bg-white shadow-lg rounded-lg">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
