<div class="bg-background">
  <div class="w-full flex flex-col justify-center items-center py-8">
    <div class="w-full lg:max-w-7xl">
      <div class="flex justify-between">
        <!-- Sidebar -->
        <div class="w-1/4 p-6">
          <div class="flex items-center mb-4">
            <img
              src="https://salt.tkbcdn.com/ts/ds/83/2b/0f/becd6c6b87118396026bdc447ac52457.jpg"
              alt="Profile"
              class="w-10 h-10 rounded-full object-cover object-center"
            />
            <div class="ml-4">
              <p class="font-normal text-sm text-white">Account of</p>
              <p class="font-bold text-base text-white">Nguyễn Minh Đức</p>
            </div>
          </div>
          <nav>
            <ul>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 0"
                (click)="onSelectMenuItem(0)"
              >
                <a class="flex items-center">
                  <i class="fas fa-user w-8 pr-4 text-center"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 1"
                (click)="onSelectMenuItem(1)"
              >
                <a class="flex items-center">
                  <i class="fas fa-lock w-8 pr-4 text-center"></i>
                  <span>Change Password</span>
                </a>
              </li>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 2"
                (click)="onSelectMenuItem(2)"
              >
                <a class="flex items-center">
                  <i class="fa-solid fa-ticket w-8 pr-4 text-center"></i>
                  <span>My Tickets</span>
                </a>
              </li>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 3"
                (click)="onSelectMenuItem(3)"
              >
                <a class="flex items-center">
                  <i
                    class="fa-regular fa-calendar-days w-8 pr-4 text-center"
                  ></i>
                  <span>My Events</span>
                </a>
              </li>
              <li
                class="ml-4 px-1 py-2 text-white text-base menu-item cursor-pointer select-none"
                [class.active]="selectedMenuItemIndex == 4"
                (click)="onSelectMenuItem(4)"
              >
                <a class="flex items-center">
                  <i
                    class="fa-regular fa-calendar-plus w-8 pr-4 text-center"
                  ></i>
                  <span>Create Event</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        >

        <!-- Main Content -->
        <div class="w-3/4 p-7 bg-white shadow-lg rounded-lg">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
