<div class="w-screen h-screen flex justify-center items-center">
  <img
    src="/img_backgound_app.png"
    alt="fixed z-0"
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  />
  <div
    class="relative flex min-h-fit flex-col justify-center px-6 py-12 lg:px-8 w-2/4 rounded-md border border-neutral-500"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm z-10">
      <img
        class="mx-auto h-10 w-auto object-cover"
        src="/img_logo_primary.png"
        alt="Your Company"
      />
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
      >
        Get Started Now
      </h2>
    </div>

    <div class="mt-10">
      <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="flex flex-col lg:flex-row justify-between">
          <div class="w-full flex-1">
            <div class="mb-6">
              <label
                for="name"
                class="block text-sm font-medium leading-6 text-white"
                >Name</label
              >
              <div class="mt-2">
                <input
                  id="name"
                  name="name"
                  type="text"
                  formControlName="name"
                  class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <div class="mb-6">
              <label
                for="email"
                class="block text-sm font-medium leading-6 text-white"
                >Email</label
              >
              <div class="mt-2">
                <input
                  id="email"
                  name="email"
                  type="email"
                  formControlName="email"
                  class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="mb-6">
              <div class="flex items-center justify-between">
                <label
                  for="password"
                  class="block text-sm font-medium leading-6 text-white"
                  >Password</label
                >
              </div>
              <div class="mt-2">
                <input
                  id="password"
                  name="password"
                  type="password"
                  formControlName="password"
                  class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
                />
              </div>
            </div>
          </div>
          <div class="w-10"></div>
          <div class="w-full flex-1">
            <div class="mb-6">
              <label
                for="phone-number"
                class="block text-sm font-medium leading-6 text-white"
                >Birth Date</label
              >
              <div class="mt-2">
                <p-calendar
                  styleClass="block w-full input-calendar"
                  formControlName="birthDate"
                />
              </div>
            </div>
            <div class="mb-6">
              <label
                for="phone-number"
                class="block text-sm font-medium leading-6 text-white"
                >Phone Number</label
              >
              <div class="mt-2">
                <input
                  id="phone-number"
                  name="phone-number"
                  type="tel"
                  formControlName="phoneNumber"
                  class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="mb-6">
              <label
                for="gender"
                class="block text-sm font-medium leading-6 text-white"
                >Gender</label
              >
              <div class="mt-2 flex flex-row w-full py-2">
                <div class="flex items-center mr-6">
                  <input
                    id="male"
                    type="radio"
                    value="0"
                    name="gender"
                    formControlName="gender"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="male"
                    class="ms-2 text-sm font-medium text-white dark:text-gray-300"
                    >Male</label
                  >
                </div>
                <div class="flex items-center mr-6">
                  <input
                    id="female"
                    type="radio"
                    value="1"
                    name="gender"
                    formControlName="gender"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="female"
                    class="ms-2 text-sm font-medium text-white dark:text-gray-300"
                    >Female</label
                  >
                </div>
                <div class="flex items-center mr-6">
                  <input
                    id="other"
                    type="radio"
                    value="2"
                    name="gender"
                    formControlName="gender"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="other"
                    class="ms-2 text-sm font-medium text-white dark:text-gray-300"
                    >Other</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <button
            type="submit"
            pButton
            pRipple
            class="flex w-1/2 justify-center linear-button"
          >
            Register
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-100 select-none">
        Already has an account?
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="font-semibold leading-6 text-primary hover:text-primary-light cursor-pointer"
          >Login</a
        >
      </p>
    </div>
  </div>
</div>
<p-toast />
