<div class="w-screen h-screen flex justify-center items-center">
  <img
    src="/img_backgound_app.png"
    alt="fixed z-0"
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  />
  <div
    class="relative flex min-h-fit flex-col justify-center px-6 py-12 lg:px-8 w-1/4 rounded-md border border-neutral-500"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm z-10">
      <img
        class="mx-auto h-10 w-auto object-cover"
        src="/img_logo_primary.png"
        alt="Your Company"
      />
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
      >
        Welcome Back
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-white"
            >Email</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              formControlName="email"
              class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-white"
              >Password</label
            >
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              formControlName="password"
              class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
            />
          </div>
          <div class="text-sm mt-2 text-end">
            <p
              class="font-semibold text-primary hover:text-primary-light cursor-pointer"
              (click)="showForgotPassDialog()"
            >
              Forgot password?
            </p>
            <p-dialog
              header="Header"
              [(visible)]="isShowForgotPassDialog"
              [modal]="true"
              [style]="{ width: '25rem' }"
            >
              <ng-template pTemplate="header">
                <div
                  class="inline-flex align-items-center justify-content-center gap-2"
                >
                  <h3
                    class="text-xl font-semibold text-gray-900 dark:text-white"
                  >
                    Forgot password
                  </h3>
                </div>
              </ng-template>
              <span class="p-text-secondary block mb-5 text-start"
                >Enter your email and we send code to verify</span
              >
              <form>
                <div class="flex align-items-center gap-3 mb-5 items-center">
                  <label for="email" class="font-semibold w-6rem">Email</label>
                  <input
                    pInputText
                    id="email"
                    class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
                    autocomplete="off"
                  />
                </div>
              </form>

              <ng-template pTemplate="footer">
                <p-button
                  label="Cancel"
                  [text]="true"
                  severity="secondary"
                  (onClick)="isShowForgotPassDialog = false"
                />
                <p-button
                  label="Continue"
                  [text]="true"
                  severity="secondary"
                  (onClick)="isShowForgotPassDialog = false"
                />
              </ng-template>
            </p-dialog>
          </div>
        </div>

        <div class="flex justify-center">
          <button
            type="submit"
            pButton
            pRipple
            class="flex w-1/2 justify-center linear-button t"
          >
            Login
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-100 select-none">
        Don't have account?
        <a
          class="font-semibold leading-6 text-primary hover:text-primary-light cursor-pointer"
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </p>
    </div>
  </div>
</div>
<p-toast />
