<div class="flex justify-center">
  <div class="flex flex-col w-[500px] gap-2 items-center my-4">
    <div
      class="text-3xl"
      [ngClass]="{
        'text-gray-700': isLightBackground,
        'text-white': !isLightBackground
      }"
    >
      Page Not Found
    </div>
    <img src="/img_404.png" class="w-full object-cover object-center" />
    <div
      class="text-xs text-center"
      [ngClass]="{
        'text-gray-700': isLightBackground,
        'text-white': !isLightBackground
      }"
    >
      The page you are looking for may have been removed, renamed, or
      temporarily unavailable. Please return to the previous page or to the Home
      page.
    </div>
    <div class="flex w-full gap-2 mt-4">
      <button pButton class="outline-button flex-1" (click)="goBack()">
        Back To Previous Page
      </button>
      <button pButton class="primary-button flex-1" (click)="goToHome()">
        Go To Home Page
      </button>
    </div>
  </div>
</div>
