<div class="page-wrapper w-screen h-screen flex justify-center items-center">
  <div
    class="relative flex min-h-fit flex-col justify-center px-6 py-12 lg:px-8 w-1/4 rounded-md border border-neutral-500"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm z-10">
      <img
        class="mx-auto h-10 w-auto object-cover"
        src="/img_logo_primary.png"
        alt="Your Company"
      />
      <h2
        ngif
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
      >
        Reset Password
      </h2>
      <ng-template [ngIf]="state == 0">
        <div class="mt-4 card flex justify-center">
          <p-progressSpinner ariaLabel="loading" />
        </div>
        <p class="mt-4 text-center text-base text-gray-100">Processing...</p>
      </ng-template>
      <ng-template [ngIf]="state == 2">
        <p class="mt-4 text-center text-base text-gray-100">
          You will be navigate into Login Page in
        </p>
        <p class="mt-4 text-center text-5xl text-primary">{{ timeLeft }}s</p>
        <div class="mt-10 flex justify-center">
          <button
            type="submit"
            pButton
            pRipple
            class="flex w-1/2 justify-center linear-button"
            (click)="({})"
          >
            Go To Login Page
          </button>
        </div>
      </ng-template>
    </div>

    <div *ngIf="state == 1" class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form
        class="space-y-6"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-white"
              >Password</label
            >
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              formControlName="newPassword"
              class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="re-password"
              class="block text-sm font-medium leading-6 text-white"
              >Confirm Password</label
            >
          </div>
          <div class="mt-2">
            <input
              id="re-password"
              name="re-password"
              type="password"
              formControlName="confirmPassword"
              class="block w-full rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="flex justify-center">
          <button
            type="submit"
            pButton
            pRipple
            class="flex w-1/2 justify-center linear-button"
          >
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
