<div>
  <h2 class="text-2xl font-bold mb-2">Set Password</h2>
  <p class="text-gray-500">
    For your account's security, do not share your password with anyone else
  </p>
  <div class="w-full border border-gray-200 my-4"></div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label
        for="currentPassword"
        class="block text-gray-700 mb-2 font-semibold"
        >Current Password</label
      >
      <input
        type="password"
        id="currentPassword"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none text-gray-900 font-normal"
        placeholder="Enter current password"
        formControlName="currentPassword"
      />
    </div>
    <div class="mb-4">
      <label for="newPassword" class="block text-gray-700 mb-2 font-semibold"
        >New Password</label
      >
      <input
        type="password"
        id="newPassword"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none text-gray-900 font-normal"
        placeholder="Enter new password"
        formControlName="newPassword"
      />
    </div>
    <div class="mb-4">
      <label
        for="confirmPassword"
        class="block text-gray-700 mb-2 font-semibold"
        >Confirm Password</label
      >
      <input
        type="password"
        id="confirmPassword"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none text-gray-900 font-normal"
        placeholder="Enter confirm password"
        formControlName="confirmPassword"
      />
    </div>

    <div class="flex justify-center mt-4">
      <button
        type="submit"
        pButton
        pRipple
        class="flex w-1/2 justify-center linear-button"
      >
        Save
      </button>
    </div>
  </form>
</div>
<p-toast></p-toast>
