<div class="bg-background">
  <!-- category -->
  <div class="w-full bg-black h-14 flex justify-center items-center">
    <div
      class="flex flex-row w-full h-full lg:max-w-7xl justify-between items-center"
    >
      <ul>
        <li class="inline-block mx-4" *ngFor="let category of categories">
          <span
            class="text-sm text-white cursor-pointer hover:text-primary transition-colors"
            (click)="onCategoryPressed(category.id)"
          >
            {{ category.name }}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <!-- BODY -->
  <div class="w-full flex flex-col justify-center items-center min-h-[600px]">
    <!-- banner -->
    <div class="lg:max-w-7xl">
      <p-carousel
        [value]="banners"
        [numVisible]="2"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
        [circular]="true"
      >
        <ng-template let-banner pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
              <div
                class="relative mx-auto"
                (click)="onEventPressed(banner.slug)"
              >
                <img
                  [src]="banner.imageUrl"
                  [alt]="banner.name"
                  class="w-full rounded-xl object-cover object-center"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div class="w-full lg:max-w-7xl">
      <!-- Latest events -->
      <p class="font-semibold text-lg text-white">Latest events</p>
      <div class="flex items-center justify-center w-full h-full mt-4 mb-10">
        <div class="w-full relative flex items-center justify-center">
          <button
            aria-label="slide backward"
            class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
            (click)="goPrevLatestEvent()"
          >
            <svg
              width="8"
              height="14"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 1L1 7L7 13"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div
            #sliderLatestEvents
            class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden"
          >
            <div
              id="sliderLatestEvents"
              class="h-full flex gap-6 items-center justify-start transition ease-out duration-700"
            >
              <div
                class="flex flex-shrink-0 relative w-full sm:w-[calc(20%_-_1.25rem)]"
                *ngFor="let event of latestEvents"
                (click)="onEventPressed(event.slug)"
              >
                <img
                  [src]="event.imageUrl"
                  [alt]="event.slug"
                  class="object-cover object-center w-full rounded-xl"
                />
              </div>
            </div>
          </div>
          <button
            aria-label="slide forward"
            class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
            (click)="goNextLatestEvent()"
          >
            <svg
              width="8"
              height="14"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L7 7L1 13"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
      <!-- Trending events -->
      <div *ngIf="trendingEvents.length != 0">
        <p class="font-semibold text-lg text-white">Trending events</p>
        <div class="flex items-center justify-center w-full h-full mt-4 mb-10">
          <div class="w-full relative flex items-center justify-center">
            <button
              aria-label="slide backward"
              class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
              (click)="goPrevTrendingEvent()"
            >
              <svg
                width="8"
                height="14"
                viewBox="0 0 8 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7 1L1 7L7 13"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <div
              #sliderTrendingEvents
              class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden"
            >
              <div
                id="sliderTrendingEvents"
                class="h-full flex gap-8 items-center justify-start transition ease-out duration-700"
              >
                <div
                  class="flex flex-col gap-4 flex-shrink-0 relative w-full sm:w-[calc(25%_-_1.5rem)]"
                  *ngFor="let event of trendingEvents"
                  (click)="onEventPressed(event.slug)"
                >
                  <img
                    [src]="event.imageUrl"
                    [alt]="event.slug"
                    class="object-cover object-center w-full rounded-xl md:h-[166px]"
                  />
                  <div class="flex flex-col gap-2">
                    <span
                      class="text-white w-full overflow-hidden line-clamp-2 font-bold"
                    >
                      {{ event.name }}
                    </span>
                    <span class="font-semibold text-primary"
                      >From {{ formatEventPrice(event.price) }}</span
                    >
                    <span class="relative text-white text-sm font-normal">
                      <i class="fa-regular fa-calendar mr-2"></i>
                      <span>{{ formatEventDate(event.startDate) }}</span>
                    </span>
                  </div>
                  <div></div>
                </div>
              </div>
            </div>
            <button
              aria-label="slide forward"
              class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
              (click)="goNextTrendingEvent()"
            >
              <svg
                width="8"
                height="14"
                viewBox="0 0 8 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 1L7 7L1 13"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Event By Category -->
      <div *ngFor="let category of categories">
        <!-- Check if there are events for the category -->
        <div *ngIf="eventsByCategory.get(category)?.length">
          <div class="flex flex-row justify-between">
            <p class="font-semibold text-lg text-white">{{ category.name }}</p>
            <span
              class="flex flex-row text-sm text-gray-300 justify-center items-center relative gap-2"
            >
              <span
                class="mb-[0.2rem] select-none cursor-pointer"
                (click)="onCategoryPressed(category.id)"
                >View more</span
              >
              <i class="fa-solid fa-angle-right"></i>
            </span>
          </div>
          <div
            class="flex items-center justify-center w-full h-full mt-4 mb-10"
          >
            <div class="w-full relative flex items-center justify-center">
              <div
                class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden"
              >
                <div
                  class="h-full flex gap-8 items-center justify-start transition ease-out duration-700"
                >
                  <!-- Loop through the events of the current category -->
                  <div
                    class="flex flex-col gap-4 flex-shrink-0 relative w-full sm:w-[calc(25%_-_1.5rem)]"
                    *ngFor="let event of eventsByCategory.get(category)"
                    (click)="onEventPressed(event.slug)"
                  >
                    <img
                      [src]="event.imageUrl"
                      [alt]="event.slug"
                      class="object-cover object-center w-full rounded-xl md:h-[166px]"
                    />
                    <div class="flex flex-col gap-2">
                      <span
                        class="text-white w-full overflow-hidden line-clamp-2 font-bold h-12"
                      >
                        {{ event.name }}
                      </span>
                      <span class="font-semibold text-primary"
                        >From {{ formatEventPrice(event.price) }}</span
                      >
                      <span class="relative text-white text-sm font-normal">
                        <i class="fa-regular fa-calendar mr-2"></i>
                        <span>{{ formatEventDate(event.startDate) }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
