<div class="w-screen h-screen flex justify-center items-center">
  <img
    src="/img_backgound_app.png"
    alt="fixed z-0"
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  />
  <div
    class="relative flex min-h-fit flex-col justify-center px-6 py-12 lg:px-8 w-2/4 rounded-md border border-neutral-500"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm z-10">
      <img
        class="mx-auto h-10 w-auto object-cover"
        src="/img_logo_primary.png"
        alt="Your Company"
      />
      <h2
        *ngIf="verifyType == 'Register'"
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
      >
        Email Verification
      </h2>
      <h2
        *ngIf="verifyType == 'ResetPassword'"
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
      >
        Email Verification
      </h2>
      <p class="mt-4 text-center text-base text-gray-100">
        We have sent an mail to your email {{ email }}
      </p>
    </div>
    <!-- OTP BOX -->
    <!-- <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex justify-center">
      <div class="card flex justify-content-center">
        <p-inputOtp [(ngModel)]="value">
          <ng-template pTemplate="input" let-token let-events="events">
            <input
              pInputText
              class="custom-otp-input"
              (input)="events.input($event)"
              (keydown)="events.keydown($event)"
              type="text"
              [attr.value]="token"
              [maxLength]="1"
            />
          </ng-template>
        </p-inputOtp>
      </div>
    </div> -->
    <div class="mt-10 flex justify-center">
      <button
        type="submit"
        pButton
        pRipple
        class="flex w-1/2 justify-center linear-button t"
        (click)="onOpenMailClick()"
      >
        Open Mail Box
      </button>
    </div>
    <p class="mt-10 text-center text-sm text-gray-100">
      Didn't recieve a mail?
      <span
        class="font-semibold leading-6 text-primary hover:text-primary-light cursor-pointer select-none"
        (click)="onResendClicked()"
        >Resend</span
      >
    </p>
  </div>
</div>
<p-toast></p-toast>
