<div class="w-screen h-screen flex justify-center items-center">
  <img
    src="/img_backgound_app.png"
    alt="fixed z-0"
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  />
  <div
    class="relative flex min-h-fit flex-col justify-center px-6 py-12 lg:px-8 w-2/4 rounded-md border border-neutral-500"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm z-10">
      <img
        class="mx-auto h-10 w-auto object-cover"
        src="/img_logo_primary.png"
        alt="Your Company"
      />
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
      >
        Email Verification
      </h2>
      <p class="mt-4 text-center text-base text-gray-100">
        We have sent a code to your email mingducdocode&#64;gmail.com
      </p>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form action="" method="post">
        <div class="flex flex-col space-y-16">
          <div
            class="flex flex-row items-center justify-between mx-auto w-full max-w-xs"
          >
            <div class="w-16 h-16">
              <input
                class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-primary"
                type="text"
                name=""
                id=""
                maxlength="1"
              />
            </div>
            <div class="w-16 h-16">
              <input
                class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-primary ring-primary"
                type="text"
                name=""
                id=""
                maxlength="1"
              />
            </div>
            <div class="w-16 h-16">
              <input
                class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-primary ring-primary"
                type="text"
                name=""
                id=""
                maxlength="1"
              />
            </div>
            <div class="w-16 h-16">
              <input
                class="w-full h-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-gray-200 text-lg bg-white focus:bg-gray-50 focus:ring-primary ring-primary"
                type="text"
                name=""
                id=""
                maxlength="1"
              />
            </div>
          </div>

          <div class="flex flex-col space-y-5">
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-gradient-to-r from-primary-light to-primary-dark px-3 py-1.5 text-sm font-semibold leading-6 text-gray-900 shadow-sm hover:bg-primary-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
            >
              Verify
            </button>
          </div>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-100">
        Didn't recieve code?
        <a
          href="#"
          class="font-semibold leading-6 text-primary hover:text-primary-light"
          >Resend</a
        >
      </p>
    </div>
  </div>
</div>
