<div class="bg-gradient-to-r from-primary-light to-primary-dark">
  <div class="w-full flex justify-center items-center">
    <header
      class="flex flex-row w-full lg:max-w-7xl h-[76px] justify-between items-center"
    >
      <a href="#" class=""
        ><img
          src="/img_logo_white.png"
          alt="MiaTicket"
          class="h-[76px] object-contain p-3"
        />
      </a>
      <form class="w-1/3 max-w-lg mx-auto">
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            id="default-search"
            class="inline-block w-full py-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none"
            placeholder="What are you looking for today?"
          />
        </div>
      </form>
      <div class="flex flex-row">
        <div
          class="flex flex-row justify-center items-center mr-5 text-sm text-white cursor-pointer select-none"
        >
          <i class="fa-regular fa-calendar-days mr-2"></i>
          <span class="">Create Event</span>
        </div>
        <div
          class="flex flex-row justify-center items-center mr-5 text-sm text-white cursor-pointer select-none"
        >
          <i class="fa-solid fa-ticket mr-2"></i>
          <span class="">My Tickets </span>
        </div>
      </div>
      <ng-template [ngIf]="isAuthenticated" [ngIfElse]="notAuthenticated">
        <div class="card flex justify-content-center items-center">
          <p-menu #menu [model]="items" [popup]="true" />
          <div class="flex items-center gap-1" (click)="menu.toggle($event)">
            <img
              src="https://salt.tkbcdn.com/ts/ds/83/2b/0f/becd6c6b87118396026bdc447ac52457.jpg"
              alt="Profile"
              class="w-8 h-8 rounded-full object-cover object-center"
            />
            <span
              class="text-sm text-white cursor-pointer select-none truncate max-w-36"
              >Nguyễn Minh Đức
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template #notAuthenticated>
        <div
          class="flex flex-row justify-center items-center cursor-pointer select-none"
        >
          <div class="card flex justify-content-center">
            <span
              class="text-sm text-white font-medium truncate max-w-36"
              (click)="onLoginOrRegisterClicked()"
              >Log in | Register
            </span>
          </div>
        </div>
      </ng-template>
    </header>
  </div>
</div>
