::ng-deep .p-paginator .p-paginator-element {
  min-width: 2rem;
  height: 2rem;
  border-radius: 5px;
  &.p-highlight {
    background: #ffe2b7;
    color: #f7a911;
  }
}

::ng-deep .p-tabmenuitem.p-highlight {
  .p-menuitem-link {
    border-color: #f7a911;
    color: #f7a911;
  }

  .p-menuitem-icon {
    color: #f7a911;
  }
  .p-menuitem-text {
    color: #f7a911;
  }
}
