<div class="">
  <!-- Search and Tabs -->
  <form
    [formGroup]="searchForm"
    class="flex items-center justify-between mb-4"
    (submit)="onSearch()"
  >
    <div class="flex items-center gap-2">
      <input
        type="text"
        placeholder="Search event"
        class="rounded-lg py-2 px-4 border border-spacing-6 border-gray-400 focus:outline-none text-sm"
        formControlName="keyword"
      />
      <p-button icon="pi pi-search" styleClass="primary-button" type="submit" />
    </div>
    <p-tabMenu
      [model]="eventStatuses"
      [activeItem]="activeEventStatus"
      (activeItemChange)="onActiveEventStatusChange($event)"
    />
  </form>

  <div class="flex flex-col gap-3 min-h-[600px]">
    <div
      class="border shadow-lg rounded-lg p-4 mb-4"
      *ngFor="let event of myEvents"
    >
      <div class="flex flex-col md:flex-row">
        <!-- Image Section -->
        <div class="md:w-[175px] w-full mb-4 md:mb-0">
          <img
            [src]="event.image"
            alt="Event"
            class="rounded-lg object-cover object-center w-full h-48 md:h-full"
          />
        </div>

        <!-- Content Section -->
        <div class="flex-1 ml-0 md:ml-4 flex flex-col">
          <h3 class="text-gray-900 text-base font-medium flex-1">
            {{ event.name }}
          </h3>

          <div class="flex items-center text-gray-500 text-sm">
            <i class="far fa-calendar-alt mr-2"></i>
            <span>{{ eventDateTimeFormatted(event.startDate) }}</span>
          </div>

          <div class="flex items-center text-gray-500 text-sm">
            <i class="fas fa-map-marker-alt mr-2"></i>
            <span>{{ event.venueName }}</span>
          </div>
        </div>
      </div>

      <!-- Buttons Section -->
      <div
        class="flex flex-col sm:flex-row justify-center items-center mt-4 space-y-2 sm:space-y-0 sm:space-x-4"
      >
        <button
          class="flex items-center text-gray-500"
          (click)="onSummaryPressed(event.id)"
        >
          <i class="fas fa-chart-pie mr-2"></i> Summary
        </button>
        <button
          class="flex items-center text-gray-500"
          (click)="onOrderListPressed(event.id)"
        >
          <i class="fa-solid fa-clipboard-list mr-2"></i> Order Report
        </button>
        <button
          class="flex items-center text-gray-500"
          (click)="onVoucherButtonPressed(event.id)"
        >
          <i class="fas fa-ticket-alt mr-2"></i> Voucher
        </button>
        <button
          class="flex items-center text-gray-500"
          (click)="onMemberButtonPressed(event.id)"
        >
          <i class="fa-solid fa-user-group mr-2"></i> Member
        </button>
        <button class="flex items-center text-gray-500">
          <i class="fas fa-bullhorn mr-2"></i> Marketing
        </button>
        <button
          class="flex items-center text-gray-500"
          (click)="onCheckInButtonPressed(event.id)"
        >
          <i class="fa-solid fa-right-to-bracket mr-2"></i> Check in
        </button>
        <button class="flex items-center text-gray-500">
          <i class="fas fa-edit mr-2"></i> Edit
        </button>
      </div>
    </div>

    <div
      *ngIf="myEvents.length == 0"
      class="h-[600px] flex justify-center items-center"
    >
      <app-empty imageUrl="/icon_event.png" content="No Events"></app-empty>
    </div>
  </div>

  <!-- Pagination -->
  <p-paginator
    class="paginator"
    (onPageChange)="onPageChange($event)"
    [rows]="this.pagination.currentPageSize"
    [totalRecords]="this.pagination.totalRecords"
  />
</div>
