::ng-deep .p-inputtext {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  &:hover {
    border-color: inherit;
  }
}

::ng-deep .p-inputNumber {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  &:hover {
    border-color: inherit;
  }
}

::ng-deep .p-inputwrapper {
  border-color: inherit;
  border-radius: 0.5rem;

  &.p-inputwrapper-focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0px 0px 1px 1px #f7a911;
  }
}
