<div class="bg-background h-screen w-screen flex flex-col">
  <!-- HEADER -->
  <app-header [isShowSearchBar]="false"></app-header>

  <!-- BODY -->
  <div class="w-full flex flex-col justify-center items-center">
    <div
      class="w-full lg:max-w-7xl max-h-[300px] md:min-h-[600px] px-4 lg:px-0 flex flex-wrap gap-4"
    >
      <!-- Left Section: Ticket Selection -->
      <div class="p-7 bg-white shadow-lg rounded-lg mt-4 flex-1 flex flex-col">
        <div class="text-base font-semibold mb-2 flex justify-center">
          Select Ticket
        </div>
        <div class="flex justify-between">
          <div class="text-sm font-medium">Ticket type</div>
          <div class="text-sm font-medium">Quantity</div>
        </div>
        <ul class="max-h-[300px] md:max-h-[600px] overflow-auto">
          <li class="py-5 px-3 border-b-[0.5px] border-dashed border-gray-400">
            <div class="flex justify-between">
              <div>
                <div class="text-base text-primary font-medium">NHỚ NHUNG</div>
                <div class="text-gray-700 text-sm">550.000đ</div>
              </div>
              <div class="flex gap-3 items-center">
                <p-button
                  icon="pi pi-minus"
                  [rounded]="true"
                  severity="secondary"
                  [outlined]="true"
                  class="minus-plus-button"
                ></p-button>
                <div
                  class="min-w-8 h-8 border rounded-sm border-gray-400 flex items-center justify-center"
                >
                  <span class="text-primary text-base font-medium">0</span>
                </div>
                <p-button
                  icon="pi pi-plus"
                  [rounded]="true"
                  severity="secondary"
                  [outlined]="true"
                  class="minus-plus-button"
                ></p-button>
              </div>
            </div>
            <span class="flex items-center text-gray-500 text-xs gap-2 mt-2">
              <i class="pi pi-info-circle"></i>
              <span>Tặng 1 đồ uống trái cây</span>
            </span>
          </li>
        </ul>
      </div>

      <!-- Right Section: Summary and Payment -->
      <div
        class="p-7 bg-white shadow-lg rounded-lg mt-4 h-fit w-full md:w-3/12"
      >
        <div class="text-base font-semibold mb-2">
          Workshop thư pháp "Nét Bình Yên"
        </div>
        <p class="text-xs flex items-center gap-2 mb-2">
          <i class="pi pi-clock"></i>
          <span class="text-primary">20:00 - 22:00, 22 Sep, 2024</span>
        </p>
        <div class="">
          <p class="text-xs flex items-center gap-2 mb-1">
            <i class="pi pi-map-marker"></i>
            <span class="text-primary">Nhà hát Bến Thành</span>
          </p>
          <p class="text-xs text-gray-700">
            Số 6 Mạc Đĩnh Chi, Ben Nghe Ward, 1 District, Ho Chi Minh City
          </p>
          <div class="inline-block h-[0.5px] bg-gray-300 w-full"></div>

          <div class="text-base font-semibold my-2">Total</div>
          <div class="flex items-center justify-between mb-2">
            <div class="flex text-sm items-center gap-1">
              <i class="pi pi-ticket"></i>
              <span>x3</span>
            </div>
            <p class="text-sm font-extrabold text-primary">1.000.000đ</p>
          </div>
          <button
            pButton
            pRipple
            class="flex w-full justify-center linear-button text-white"
          >
            Go To Payment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
