<div class="w-screen h-screen flex justify-center items-center">
  <img
    src="/img_backgound_app.png"
    alt="fixed z-0"
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  />
  <div
    class="relative flex min-h-fit flex-col justify-center px-6 py-12 lg:px-8 w-2/4 rounded-md border border-neutral-500"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm z-10">
      <img
        class="mx-auto h-10 w-auto object-cover"
        src="/img_logo_primary.png"
        alt="Your Company"
      />
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
      >
        Email Verification
      </h2>
      <ng-template [ngIf]="isFinished" [ngIfElse]="processingComponent">
        <p class="mt-4 text-center text-base text-gray-100">
          You will be navigate into Login Page in
        </p>
        <p class="mt-4 text-center text-5xl text-primary">{{ timeLeft }}s</p>
      </ng-template>
      <ng-template #processingComponent>
        <div class="mt-4 card flex justify-center">
          <p-progressSpinner ariaLabel="loading" />
        </div>
        <p class="mt-4 text-center text-base text-gray-100">Processing...</p>
      </ng-template>
    </div>
    <div class="mt-10 flex justify-center">
      <button
        type="submit"
        pButton
        pRipple
        class="flex w-1/2 justify-center linear-button"
        (click)="onGoToLoginPageClicked()"
        [disabled]="!isFinished"
      >
        Go To Login Page
      </button>
    </div>
  </div>
</div>
<p-toast></p-toast>
